body{
    background-image: url(fon2.jpeg);
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
    background-size: cover;
    height:100vh;
}

.div1{

height:800px ;
width:1000px;
background-color:white;
 font-size:45px;
 font-style: italic ;
 padding:15px ;
 margin: 100px auto;
 border: solid 20px gold;
 outline: solid 25px darkred;
 position: relative;
transition:all 1.5s ;
}
 
.div1:hover{
color: rgb(162, 19, 19);
border:solid 35px darkred;
outline: solid  40px gold;





}

.class1{
transform:translate(-400px,-15px) rotate(30deg); 



}

.class2{
transform: rotate(35deg);
position: absolute;
right: -180px;
top: -180px;




}